body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr; /* These are two columns*/
	gap: 1rem;
}

main h2 {
	grid-column: 1/-1; /* This spand from first to the last column*/
}

h2 {
	color: navy;
	text-align: left;
}

article p {
	text-align: justify;
}

.callout {
	color: #f2f2f2;
	background-color: #800080;
	padding: 1rem;
}

.callout:hover {
	background-color: #5a1f4a;
}

.banner {
	background-color: #eee;
	padding: 1rem;
	text-align: center;
	font-weight: bold;
	font-size: 1.1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}

.site-footer span {
	margin-right: 0.5rem;
	color: var(--accent-2);
	font-weight: bold;
}