
:root {
    --primary-color: #c9a74d;
    --text-color: #333;
    --bg-light: #f9f9f9;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-color);
}

h1 {
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--bg-light);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

main h1 {
    text-align: center;
    margin-bottom: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    overflow-x: hidden;
}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background: #f9f9f9;
    text-align: center;
}



.temple-card img {
    max-width: 100%;
    border-radius: 6px;
    display: block;
}

.temple-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
}

figure {
    text-align: center;
    background-color: var(--bg-light);
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
}

#hamburgerBtn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    margin: 0.5rem;
}

#primaryNav ul {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#primaryNav.open ul {
    max-height: 500px;
}

#primaryNav.open ul {
    display: flex;
}

nav a.active {
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a:focus {
    background-color: var(--primary-color);
    color: var(--bg-light);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    outline: none;
}

nav a:focus-visible {
    outline: 2px spolid #c9a74d;
}