nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    gap: 1rem;
}

#hamburgerBtn {
    display: none;
}

#primaryNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}