body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background: #000;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #f57c00;
    transition: color 0.3s ease;
}

.main-content, .sidebar {
    box-shadow: 0 2px 8px rgba(0, 0, 0. 0.1);
}


/* Main Layout */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

.main-content {
    flex: 3;
    min-width: 250px;
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

.sidebar {
    flex: 1;
    min-width: 250px;
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    color: #F57C00;
    text-decoration: none;
    margin: 0 0.5rem;
}



