body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #f9f9f9;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

caption {
    caption-side: bottom;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1rem;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}