nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#hamburgerBtn {
    display: none;
}

#primaryNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}